<p style="text-align: center">
    A showcase of the world's greatest designers using the world's greatest
    typeface.
</p>

<% for post in @posts.reverse %>
<div>
    <h2 class="typeface-js" style="font-family: Algerian"><%=h post.title %></h2>
    <img src="<%=h post.image_url %>" />
    <p><%= post.description %></p>
    <div class="author">submitted by: <%=h post.user.login %></div>
    <% if current_user %>
    <p>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
    </p>
    <% end %>
</div>
<% end %>

<br />

<% if current_user %>
<%= link_to 'New post', new_post_path %>
<% end %>
